.onboarding-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* transform: translate(-25%, -50%); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .major-popup {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: space-between;
    height: 120px;

    .prompt {
      font-weight: 700;
      font-size: 20px;
    }

    .major-input {
      border: 0px;
      border-bottom: 2px solid gray;
      width: 200px;
      text-align: center;
      font-size: 16px;
      transition: border-bottom, 0.25s;
    }

    .major-input:focus {
      border-bottom: 2px solid black;
    }

    .submit-onboarding {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(231, 244, 255);
      border: solid black 2px;
      border-radius: 20px;
      width: 100px;
      height: 30px;
      transition: background-color, 0.5s;
      font-size: 16px;
    }

    .submit-onboarding:hover {
      background-color: rgb(216, 236, 253);
      cursor: pointer;
    }
  }
}