@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
        text-align: center;
        font-size: 40px;
    }

    .logIn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 200px;
        background-color: rgb(235, 244, 253);
        border-radius: 40px;
        /* https://www.w3schools.com/css/css3_transitions.asp */
        transition: background-color 0.5s;

        /* .signInButton {
          font-size: larger;
          color: green;
        } */
    }

    .logIn:hover {
        background-color: rgb(216, 236, 253);
    }
}

/* https://blog.hubspot.com/website/remove-underline-from-links-css */
a:link,
a:visited {
    text-decoration: none;
    color: black;
}